// Placeholder to quickly add your own styles
// The file is included last in the build pipeline
.test-homepage {
    width:100%;
}

.img-fluid .rounded {
    position: fixed !important;
    width:100%;
}

img-fluid rounded {
    position: fixed !important;
    width:100%;
}